.strategic-horizons {
  padding-top: 100px;
}
.strategic-horizons h2 {
  color: #415259;
  margin-bottom: 20px;
}

.strategic-horizons img {
  height: 115px;
}
.strategic-horizons p {
  margin: 27px 15px;
  font-size: 15px;
  width: 68%;
}
