.operational-performance {
  background: url(../../../Assets/performance/Path37.png);
  background-size: cover;
  background-position: bottom;
  padding: 70px 0;
}
.operational-performance .h2 {
  border-bottom: 2px solid;
  width: 50%;
  margin-bottom: 85px;
  margin-top: 50px;
}
.operational-performance .all-h {
  font-size: 80px;
  font-weight: bold;
}
.operational-performance .h_color_1 {
  color: #415259;
}
.operational-performance .h_color_2 {
  color: #723b1c;
}
.operational-performance .h_color_3 {
  color: #242e40;
}

.operational-performance .h_color_4 {
  color: #d8a115;
}

.operational-performance .h_color_5 {
  color: #a98445;
}

.operational-performance .h_color_6 {
  color: #242e40;
}
