.all-values {
  padding-top: 50px;
}
.all-values .values-box {
  margin-bottom: 30px;
}
.all-values .values-box img {
  margin: 20px;
  width: 20px;
  margin-top: 37px;
}
.all-values .values-box h3 {
  font-size: 70px;
  color: #d8a115;
  font-weight: 600;
}
.all-values .values-box span {
  font-size: 30px;
  color: #415259;
  font-weight: 600;
}
